#define LMAIN 0   // Layer 1: Main layer
#define LFN 1     // Layer 2: F-keys, arrows, media buttons
#define LNPAD 2   // Layer 3: Numpad (with regular number keys)
#define LMS 3     // Layer 4: Mouse layer
#define LSYM1 4   // Layer 5: Commonly used punctuation and keys
#define LSYM2 5   // Layer 6: Alternatives for commonly used punctuation

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

// Originally converted from TMK, now modified to ZMK.

/ {
    macros {
        m_e: m_e {
            // Type 'é'
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHIFT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LCTRL>
                , <&macro_release &kp LSHIFT>
                , <&macro_tap &kp E>
                , <&macro_tap &kp N9>
                , <&macro_tap &kp SPACE>
                ;
        };
        m_at: m_at {
            // AltGr + 2 = @
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp N2>
                , <&macro_release &kp RALT>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        layer_0 {
            bindings = <
                &bootloader
                // Left hand                                                                    Right hand
                // 1       2         3         4         5         6         7                  1            2         3         4         5         6         7
                &kp GRAVE  &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp ESC            &kp EQUAL    &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp K_APPLICATION
                &kp LALT   &kp Q     &kp W     &kp E     &kp R     &kp T     &kp TAB            &kp TAB      &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BACKSLASH
                &kp LCTRL  &kp A     &kp S     &kp D     &kp F     &kp G                                     &kp H     &kp J     &kp K     &kp L     &kp K     &kp BACKSPACE
                &kp LSHIFT &kp Z     &kp X     &kp C     &kp V     &kp B     &kp DEL            &kp BSPC     &kp N     &kp M     &kp COMMA &kp DOT   &kp SLASH &kp RCTRL
                // 1       2         3         4         5                                                             1         2         3         4         5
                &mo LNPAD  &mo LMS   &none     &m_e      &mo LSYM2                                                     &mo LSYM2 &kp MINUS &none     &kp EQUAL &kp RBRC

                //                                |           |           Left                  Right       |           |
                                                              &kp HOME    &kp END               &m_at       &none
                                                  &mo LFN     &kp LGUI    &kp PG_UP             &kp INSERT  &kp ENTER   &kp SPACE
                                                                          &kp PG_DN             &kp RALT
            >;
        };
        layer_1 {
            bindings = <
                &bootloader
                // Left hand                                                                    Right hand
                // 1       2         3         4         5         6         7                  1            2         3         4         5         6         7
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &trans    &trans    &trans    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &kp INT1    &kp INT4    &kp INT7    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans                                    &kp INT2    &kp INT5    &kp INT8    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &kp INT3    &kp INT6    &kp INT9    &trans    &trans    &trans
                // 1       2         3         4         5                                                             1         2         3         4         5
                &trans     &trans    &none     &trans    &trans                                                        &trans    &trans    &trans    &trans    &trans

                //                                |           |           Left                  Right       |           |
                                                              &trans      &trans                &trans      &trans
                                                  &trans      &trans      &trans                &trans      &trans      &trans
                                                                          &trans                &trans
            >;
        };
        layer_2 {
            bindings = <
                &bootloader
                // Left hand                                                                    Right hand
                // 1       2         3         4         5         6         7                  1            2         3         4         5         6         7
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &trans    &trans    &trans    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &trans    &trans    &trans    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans                                    &trans    &trans    &trans    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &trans    &trans    &trans    &trans    &trans    &trans
                // 1       2         3         4         5                                                             1         2         3         4         5
                &trans     &trans    &none     &trans    &trans                                                        &trans    &trans    &trans    &trans    &trans

                //                                |           |           Left                  Right       |           |
                                                              &trans      &trans                &trans      &trans
                                                  &trans      &trans      &trans                &trans      &trans      &trans
                                                                          &trans                &trans
            >;
        };
        layer_3 {
            bindings = <
                &bootloader
                // Left hand                                                                    Right hand
                // 1       2         3         4         5         6         7                  1            2         3         4         5         6         7
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &trans    &trans    &trans    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &trans    &trans    &trans    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans                                    &trans    &trans    &trans    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &trans    &trans    &trans    &trans    &trans    &trans
                // 1       2         3         4         5                                                             1         2         3         4         5
                &trans     &trans    &none     &trans    &trans                                                        &trans    &trans    &trans    &trans    &trans

                //                                |           |           Left                  Right       |           |
                                                              &trans      &trans                &trans      &trans
                                                  &trans      &trans      &trans                &trans      &trans      &trans
                                                                          &trans                &trans
            >;
        };
        layer_4 {
            bindings = <
                &bootloader
                // Left hand                                                                    Right hand
                // 1       2         3         4         5         6         7                  1            2         3         4         5         6         7
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &trans    &trans    &trans    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &trans    &trans    &trans    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans                                    &trans    &trans    &trans    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &trans    &trans    &trans    &trans    &trans    &trans
                // 1       2         3         4         5                                                             1         2         3         4         5
                &trans     &trans    &none     &trans    &trans                                                        &trans    &trans    &trans    &trans    &trans

                //                                |           |           Left                  Right       |           |
                                                              &trans      &trans                &trans      &trans
                                                  &trans      &trans      &trans                &trans      &trans      &trans
                                                                          &trans                &trans
            >;
        };
        layer_5 {
            bindings = <
                &bootloader
                // Left hand                                                                    Right hand
                // 1       2         3         4         5         6         7                  1            2         3         4         5         6         7
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &trans    &trans    &trans    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &trans    &trans    &trans    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans                                    &trans    &trans    &trans    &trans    &trans    &trans
                &trans     &trans    &trans    &trans    &trans    &trans    &trans             &trans       &trans    &trans    &trans    &trans    &trans    &trans
                // 1       2         3         4         5                                                             1         2         3         4         5
                &trans     &trans    &none     &trans    &trans                                                        &trans    &trans    &trans    &trans    &trans

                //                                |           |           Left                  Right       |           |
                                                              &trans      &trans                &trans      &trans
                                                  &trans      &trans      &trans                &trans      &trans      &trans
                                                                          &trans                &trans
            >;
        };
    };
};
